.front-image {
  @include set-size(50vw, 80vh);

  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  object-fit: contain;
  object-position: right bottom;
  cursor: auto;

  @include on-tablet {
    @include set-size(55vw, 45vh);

    object-position: bottom center;
    position: inherit;
    grid-column: 1 / -1;
    grid-row: 4 / 4;
    place-self: end center;
  }

  @include on-phone {
    @include set-size(80vw, 40vh);

    grid-column: 1 / -1;
  }
}
