.subscribe {
  width: 100%;
  margin-top: 200px;

  &__content {
    grid-template-rows: repeat(3, auto);
    row-gap: 40px;

    @include on-tablet {
      grid-template-rows: repeat(4, auto);
    }
  }

  &__title {
    grid-column: 1 / 6;
    margin-bottom: 10px;

    @include on-tablet {
      grid-row: 1 / 1;
    }

    @include on-phone {
      grid-column: 1 / -1;
    }
  }

  &__input {
    grid-column: 1 / 6;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid $input;
    caret-color: $input-active;

    &::placeholder {
      @include set-font($font-raleway, 16px, 400, $input, 150%);

      transition: all $element-transition ease;
    }
    &:hover {
      border-color: $input-active;

      &::placeholder {
        color: $input-active;
      }
    }
    &:focus {
      outline: none;
      border-color: $input-active;
      &::placeholder {
        color: $input-active;
      }
    }

    @include on-tablet {
      grid-column: 1 / 5;
      grid-row: 3 / 3;
    }

    @include on-phone {
      grid-column: 1 / -1;
    }
  }

  &__text {
    @include set-font($font-raleway, 16px, 400, $font-black, 150%);

    grid-column: 7 / -1;
    grid-row: 1 / 1;

    @include on-tablet {
      grid-column: 1 / 6;
      grid-row: 2 / 2;
    }

    @include on-phone {
      grid-column: 1 / -1;
    }
  }

  &__button {
    margin: 0;

    @include on-tablet {
      grid-row: 4 / 4;
    }
  }
}
