$gray: #eee;
$button-main: #cd4d31;
$button-hover: #af3419;
$button-passed: #ea340d;
$button-disabled: #dd836f;
$grey-blue: #3f5252;
$font-grey: #504f5e;
$font-black: #1c1b29;
$font-white: #f1f5f4;
$input: #1c1b29;
$input-active: #cd4d31;
$page-max-width: 14480px;
$content-max-width: 1280px;
$content-padding-inline: 55px;
$font-raleway: 'Raleway', sans-serif;
$font-play-fair: 'Playfair Display', serif;
$element-transition: 0.3s;
$element-scale: 1.2;
